<ion-view view-title="Empty"> 
  <ion-content data-content="true" data-replace="false"> 
  
    <div class="component-holder ng-binding ng-scope" data-component="crn-google-maps" id="crn-google-maps-544234"> 
      <div data-replace="true" data-component="crn-container" class="component-holder" id="crn-container-171848">
         
      </div>
      <label class="item item-input component-holder" data-component="crn-input" id="inputpartida"> <input id="partida1" type="text" placeholder="Placeholder text" ng-model="vars.partida" mask=""> </label> 
     
      <label class="item item-input component-holder" data-component="crn-input" id="inputDestino"> <input id="chegada1" type="text" placeholder="Placeholder text" ng-model="vars.input7349" mask=""> </label> 
     
      <div data-replace="false" data-component="crn-container" class="component-holder" id="crn-container-351865">
        <div data-replace="true" data-component="crn-container" class="component-holder" id="crn-container-741925">
        </div>
        
      </div> 
      
      <div id="map5590" token="AIzaSyABYZ8X-Z2q5Bw5NC9rygAN2IvPFsHhFK4" ng-init="blockly.js.blockly.APIGoogleMaps.Executar()" style="width:220px;height:400px;"></div> 
       
    </div> 
     <button class="btn btn-default component-holder genClass726" type="submit" ng-click="blockly.js.blockly.APIGoogleMaps.GeraRota()" xattr-size="" xattr-fullsize="" xattr-theme="btn-default" data-component="crn-button" id="crn-button-85602"><i class="glyphicon glyphicon-home"></i> <span>Rota</span></button>
  </ion-content> 
</ion-view>