{
  "app": {
    "guid": "81a40d3d-8d77-444d-a062-08b44b9c53f0"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": true,
    "metadataSecurity": null,
    "entitiesSecurity": null
  },
  "security": {
    "token": "ODBjYzhhNWEtZWI0ZS00YmUyLWI1MDUtOGM0ODk2NDM0Yjlj",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "internal",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": false
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}